<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebStore</title>

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- link css -->
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/grid.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>



    <!-- header -->
    <div id="homePage-header">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12 md-12 sm-0">
                    <div class="bar">
                        <div class="homePage-header__brand">
                            RockPikin
                        </div>
                        <div class="homePage-header__bar">
                            <a href="#" class="homePage-header__bar-component">Home</a>
                            <a href="#" class="homePage-header__bar-component">About</a>
                            <a href="#" class="homePage-header__bar-component">Contact</a>
                            <a href="#" class="homePage-header__bar-component">Product</a>
                            <a href="#" class="homePage-header__bar-component">Support</a>
                        </div>
                        <div class="homePage-header__account">
                            <a href="#">Login</a>
                            <a href="#">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="homePage">
        <div id="homePage-slider">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-7 md-7 sm-10 sm-o-1">
                        <div class="homePage-slider__content">
                            <div>
                                <h2 class="homePage-slider__info">Do you need a </h2>
                                <h1 class="homePage-slider__heading">WEB DESIGN ? </h1>
                                <p class="homePage-slider__text">ckeck out our options and feature, then got inspiration
                                </p>
                                <a href="#" class="homePage-slider__button">
                                    find more
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-5 md-5 sm-8 sm-o-2">
                        <div class="homePage-slider__show-project">
                            <div class="img-1"></div>
                            <div class="img-2"></div>
                            <div class="img-3"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br><br><br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>

        <div style="position:relative;">
            <video autoplay muted loop id="myVideo">
                <source src="../public/video/istockphoto-498510508-640_adpp_is.mp4" type="video/mp4">
            </video>
            <div id="introduction">
                <div>
                    <h2>Let's take a look</h2>
                    <p>
                        With 5 years experience in web design sector,
                        we guarantee with our customer will got good
                        products which are apppropriately with their budget
                    </p>
                    <div class="after-slider__icon"></div>
                </div>

            </div>
        </div>

        <br><br><br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>

        <div id="homePage-container">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-4 l-o-1 md-10 md-o-1 sm-12" style="padding: 4rem 0;">
                        <h4 style="font-weight: 500;">
                            Do you have any question about our price?
                        </h4>
                        <p style="color: #262626;">currently, we have two stardard package including normal,
                            premium that one for business and the other for personal purposes.
                            However, these product will also sastisfy for your about their own good quality
                        </p>
                        <h2>
                            RockPikin
                        </h2>
                    </div>
                    <div class="col l-7 md-12 sm-10 sm-o-1">
                        <div id="option-component">
                            <div class="option aa">
                                <div class="option__container">
                                    <div class="option__container-title">
                                        Common
                                    </div>
                                    <div class="option__container-body">
                                        <div class="option__container-body__btn">

                                        </div>
                                        <span>More support</span>
                                        <i class="fas fa-arrow-right iconOption"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="option bb">
                                <div class="option__container">
                                    <div class="option__container-title">
                                        Premium
                                    </div>
                                    <div class="option__container-body">
                                        <div class="option__container-body__btn">

                                        </div>
                                        <span>More qualiti</span>
                                        <i class="fas fa-arrow-right iconOption"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 16rem;">
                    <div class="col l-12 md-12 sm-12">
                        <h2 class="homepage-container__title-companySpecial reveal"
                            style="text-align: center; display: block; font-size: var(--fontSize__big);">
                            And we have ?
                        </h2>
                    </div>
                    <div class="col l-6 md-6 sm-10 sm-1">
                        <div class="homePage-container__companySpecial reveal" style="
                        background-image: url('../public/img/imgPexel/pexels-cottonbro-3205570.jpg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        color: white;
                    ">
                            <h1>Skills</h1>
                            <p>
                                possessing a lot of employers with diversified experience
                                and keep pace with the developement of the world
                            </p>
                            <a href="#" class="homePage-slider__button" style="margin: var(--mp-1-5) var(--mp-1);">
                                find more
                            </a>
                        </div>
                    </div>
                    <div class="col l-6 md-6 sm-10 sm-1">
                        <div Class="homePage-container__companySpecialB reveal" style="
                        background-image: url('../public/img/imgPexel/pexels-andrew-neel-2312369.jpg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        color: white;
                    ">
                            <h1>Flexible projects</h1>
                            <p>
                                We completed so many genres of projects from social network,
                                blogs, businesses to shopping during last 10 years.
                            </p>
                            <a href="#" class="homePage-slider__button" style="margin: var(--mp-1-5) var(--mp-1);">
                                find more
                            </a>
                        </div>
                    </div>
                    <div class="col l-6 md-6 sm-10 sm-1">
                        <div class="homePage-container__companySpecial reveal" style="
                        background-image: url('../public/img/imgPexel/pexels-ola-dapo-3345882.jpg');
                        background-position: top;
                        background-repeat: no-repeat;
                        background-size: cover;
                        color: white;
                    ">
                            <h1>Multiple env</h1>
                            <p>
                                From web, app to portable device like laptop, smartphone
                                tablet, or even TV we will get it done !
                            </p>
                            <a href="#" class="homePage-slider__button " style="margin: var(--mp-1-5) var(--mp-1);">
                                find more
                            </a>
                        </div>
                    </div>
                    <div class="col l-6 md-6 sm-10 sm-1">
                        <div class="homePage-container__companySpecialB reveal" style="
                        background-image: url('../public/img/imgPexel/pexels-fauxels-3184303.jpg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        color: white;
                    ">
                            <h1>Support national & international</h1>
                            <p>
                                We always wellcome to any argnecies from
                                national to international cooperating with us
                            </p>
                            <a href="#" class="homePage-slider__button" style="margin: var(--mp-1-5) var(--mp-1);">
                                find more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h1 style="font-family: 'Dawning of a New Day', cursive; text-align: center; font-size: 3rem;">
            Let's take us for your dream now!
        </h1>


    </div> -->

    <!-- silder abput -->
    <!-- <div id="pageAbout">
        <div id="aboutPage-slider">

            <br>
            <br>

            <div class="grid wide aboutPage-slider__bg">
                <div class="row">
                    <div class="col l-7 md-7 sm-10 sm-1">
                        <div class="aboutPage-slider__body">
                            <div class="aboutPage-slider__body-title A">
                                <div class="text-flow">
                                    About Us
                                </div>
                                <ul class="text-flow">
                                    <li>Team Dev</li>
                                    <li>Team Desgin</li>
                                    <li>Team App</li>
                                </ul>
                            </div>
                            <div class="aboutPage-slider__body-title B">
                                <div class="text-flow">
                                    About Us
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="col l-2 l-o-2 md-3 md-o-1 sm-0" style="
                    color: white;
                    margin-top: 8rem;
                    font-family: var(--fontFamilyT);
                    font-size: var(--fontSize__h3);
                    ">
                        Hi there, come with me and play now
                        <div>
                        </div>
                        <br><br><br><br><br><br>
                    </div>
    
    
                </div>
            </div>
    
            <br>
            <br>
    
            <div class="grid wide">
                <div class="row">
                    <div class="col l-4">
                        <div class="aboutPage-slider__content">
                            <h2 style="padding: var(--mp-1) 0;">Dev experience</h2>
                            <div style="font-family: 'Courier New', Courier, monospace;
                                font-size: var(--fontSize__h3);">
                                For example, when designing a brochure or book,
                                a designer will insert Lorem ipsum text if
                                the real text is not available. The Lorem
                                ipsum text looks real enough that the brochure
                                or book looks complete. The book or brochure
                                can be shown to the client for approval.</div>
                            <br>
                            <div style="font-family: 'Courier New', Courier, monospace;
                                font-size: var(--fontSize__h3);">
                                The important factor when using Lorem ipsum
                                text is that the text looks realistic otherwise
                                the brochure or book will not look very good.
                                Lorem Ipsum is dummy text which has no meaning
                                however looks very similar to real text.
                            </div>
                        </div>
                    </div>
                    <div class="col l-8">
                        <div class="grid">
                            <div class="row">
                                <div class="col l-12">
                                    <div class="aboutPage-slider__content">
                                        <h2 style="padding: var(--mp-1) 0;">Design Art</h2>
                                        <div style="font-family: 'Courier New', Courier, monospace;
                                                font-size: var(--fontSize__h3);">
                                            The important factor when using Lorem ipsum
                                            text is that the text looks realistic otherwise
                                            the brochure or book will not look very good.
                                            Lorem Ipsum is dummy text which has no meaning
                                            however looks very similar to real text.
                                        </div>
                                    </div>
                                </div>
                                <div class="col l-12" style="margin-top: var(--mp-1);">
                                    <div class="aboutPage-slider__content">
                                        <h2 style="padding: var(--mp-1) 0;">Connect with App</h2>
                                        <div style="font-family: 'Courier New', Courier, monospace;
                                                font-size: var(--fontSize__h3);">For example, when designing a brochure or
                                            book,
                                            a designer will insert Lorem ipsum text if
                                            the real text is not available. The Lorem
                                            ipsum text looks real enough that the brochure
                                            or book looks complete. The book or brochure
                                            can be shown to the client for approval.</div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> -->

    <!-- contactme -->
    <!-- <div id="pageContact">
        <div class="pageContact-slider">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-3">
                        <div class="pageContact-slider__content">
                            <p>Contact</p>
                        </div>
                    </div>
                    <div class="col l-3 l-o-6">
                        <div class="pageContact-slider__content">
                            <p>Us</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="grid wide pageContact-body no-gutters">
                <div class="row">
                    <div class="col l-4 l-o-1 md-10 md-o-1 sm-10 sm-o-1">
                        <div class="pageContact-body__component">
                            <div class="fas fa-phone-alt pageContact-body__component-icon"></div>
                            <div class="pageContact-body__component-content">
                                <h3>Call us directly at</h3>
                                <h2>+039 0923 4920</h2>
                            </div>
                        </div>
                        <div class="pageContact-body__component">
                            <div class="fas fa-comment-dots pageContact-body__component-icon"></div>
                            <div class="pageContact-body__component-content">
                                <h3>Chat with us at pangage</h3>
                                <a href="#">
                                    Chat now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6 md-10 md-o-1 sm-10 sm-o-1">
                        <div class="pageContact-body__component">
                            <div class="pageContact-body__component-content">
                                <h1>Book A Meeting</h1>
                                <p>
                                    To schedule time to speak with one of our leader and The Team
                                    for commercial purposes or any support sponsor
                                </p>
                                <form action="#" method="post">
                                    <div class="grid">
                                        <div class="row">
                                            <div class="col l-6">
                                                <input 
                                                    type="text" 
                                                    name="userFirstName" 
                                                    id="userFirstName"
                                                    placeholder="First Name"
                                                    maxlength="30">
                                            </div>
                                            <div class="col l-6">
                                                <input 
                                                    type="text" 
                                                    name="userLastName" 
                                                    id="userLastName"
                                                    placeholder="Last Name"
                                                    maxlength="30"
                                                >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col l-6">
                                                <input 
                                                    type="text" 
                                                    name="phone" 
                                                    id="phone"
                                                    placeholder="Your Phone"
                                                    maxlength="30">
                                                >
                                            </div>
                                            <div class="col l-6">
                                                <input 
                                                    type="email" 
                                                    name="userEmail" 
                                                    id="userEmail"
                                                    placeholder="Your Email"
                                                    maxlength="150"
                                                >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col l-6">
                                                <select name="meetingPurposes" id="meetingPurposes">
                                                    <option value="commercial">Commercial</option>
                                                    <option value="support">Support</option>
                                                    <option value="report">Report</option>
                                                    <option value="sponsor">Sponsor</option>
                                                </select>
                                            </div>
                                            <div class="col l-6">
                                                <input 
                                                    type="text"
                                                    name="message"
                                                    id="message"
                                                    placeholder="Your message"
                                                    maxlength="500"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- register -->
    <!-- <div id="pageRegister">
        <div class="grid wide no-gutters"
            style="box-shadow: 3px 3px 8px rgb(173, 168, 168,.2);">
            <div class="row">
                <div class="col l-3">
                    <div class="pageRegister__title">
                        <h1>
                            REGISTER
                        </h1>
                    </div>
                </div>
                <div class="col l-9">
                    <div class="pageRegister__body">
                        <h2>
                            Let's join with us
                        </h2>
                        <p>

                        </p>

                        <div class="grid">
                            <form 
                                action="#" 
                                method="post"
                            >
                                <div class="row">
                                    <input 
                                    type="text" 
                                    name="userFirstName" 
                                    id="userFirstName"
                                    placeholder="First Name"
                                    maxlength="30"
                                    class="col l-5 l-o-1"
                                >
                                <input 
                                    type="text" 
                                    name="userLastName" 
                                    id="userFirstName"
                                    placeholder="Last Name"
                                    maxlength="30"
                                    class="col l-5"
                                >
                                <input 
                                    type="text" 
                                    name="userNumber" 
                                    id="userNumber"
                                    placeholder="User number"
                                    maxlength="10"
                                    class="col l-5 l-o-1"
                                >
                                <input 
                                    type="email" 
                                    name="userEmail" 
                                    id="userEmail"
                                    maxlength="100"
                                    class="col l-5"
                                    placeholder="Email"
                                >
                                <input 
                                    type="password" 
                                    name="currentPassword" 
                                    id="currentPassword"
                                    minlength="8"
                                    maxlength="30"
                                    placeholder="Password"
                                    class="col l-5 l-o-1"
                                >
                                <input 
                                    type="password" 
                                    name="confirmPassword" 
                                    id="confirmPassword"
                                    minlength="8"
                                    maxlength="30"
                                    placeholder="Confirm Password"
                                    class="col l-5"
                                >
                                </div>

                                <input 
                                    type="checkbox" 
                                    name="termAgree" 
                                    id="termAgree"
                                >Agree with our term

                                <input 
                                    type="submit"
                                    class="col l-12"
                                    value="Sign Up"
                                >
                                </input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- login -->
    <!-- <div id="pageLogin">
        <div class="grid wide">
            <div class="row">
                <div class="col l-10 l-o-1">
                    <div class="pageLogin__component">
                        <h1>LOGIN</h1>
                        <form action="#" method="POST">
                            <input 
                                type="email" 
                                name="userEmail"
                                placeholder="Email" 
                                id="userEmail"
                            >
                            <input 
                                type="password" 
                                name="userPassword" 
                                placeholder="Password"
                                id="userPassword"
                            >
                            <input type="submit" value="submit">
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div> -->

    <!-- PageProduct -->
    <div id="pageProduct">
        <div class="pageProduct__slider">
            <h2>We're here</h2>
        </div>

        <div class="grid wide">
            <div class="row">

                <div class="col l-3 md-12 sm-12">
                    <div class="pageProduct__category">
                        <div>
                            <i class="fas fa-stream" style="padding-right: var(--mp-1);"></i>
                            Category
                        </div>
                        <form action="/product/search/1" method="get" class="pageProduct__searchBar">
                            <input type="search" name="product_title" id="searchBar" placeholder="search">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <a class="pageProduct__category-link">Commercial</a>
                        <a class="pageProduct__category-link">Blog</a>
                        <a class="pageProduct__category-link">Shop</a>
                        <a class="pageProduct__category-link">App</a>
                        <a class="pageProduct__category-link">System (w)</a>
                    </div>
                </div>

                <div class="col l-9 md-12 sm-12">
                    <div class="pageProduct__list">
                        <h1>
                            Our Design
                        </h1>
                        <div class="grid">
                            <div class="row">
                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>

                                </div>
                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col l-4 md-4 sm-10 sm-o-1">
                                    <div class="cardProduct">
                                        <div class="cardProduct__img">
                                            <img src="../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg"
                                                alt="">
                                        </div>
                                        <div class="cardProduct__title">
                                            oceannn love
                                        </div>
                                        <div class="cardProduct__body">
                                            <h4>Price: 189$</h4>
                                            <h5>Sold: 13</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pageProduct__pagination">
                        <a href="#">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <footer id="homePage__footer">
        <div class="grid">
            <div class="row">
                <div class="col l-3 l-o-1 md-4 sm-6">
                    <div class="homePage__footer-component">
                        <h2>
                            Rock
                            Pikin
                        </h2>
                        <i class="fab fa-slack logo-homePage"></i>
                    </div>
                </div>
                <div class="col l-4 md-4 sm-6">
                    <div class="homePage__footer-component">
                        <h3>
                            Contact
                        </h3>
                        <a href="" class="homePage__footer-component-link">
                            <i class="fab fa-facebook"></i>
                            https://facebook.com
                        </a>
                        <a href="" class="homePage__footer-component-link">
                            <i class="fab fa-instagram"></i>
                            https://intargram.com
                        </a>
                        <a href="" class="homePage__footer-component-link">
                            <i class="fas fa-at"></i>
                            https://gmail.com
                        </a>
                    </div>
                </div>
                <div class="col l-3 md-4 sm-6 sm-o-3">
                    <div class="homePage__footer-component last">
                        <h3>
                            Legal
                        </h3>
                        <ul>
                            <li>Permission of authority</li>
                            <li>wWw Acception</li>
                            <li>Stakoverflow </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h5 style="text-align: center; margin-top: 1rem; font-family: var(--fontFamilyT);">
            @ let your farith be bigger than your fear - RockPikin
        </h5>
    </footer>

    <script>
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll > 0) {
                $("#homePage-header").addClass("active");
            }
            else {
                $("#homePage-header").removeClass("active");
            }
        });


        window.addEventListener("scroll", revealEle)

        function revealEle() {
            var elementNeeds = document.querySelectorAll(".reveal")
            for (var index = 0; index < elementNeeds.length; index++) {


                var windowHeight = window.innerHeight
                var revealTop = elementNeeds[index].getBoundingClientRect().top
                var revealPoint = 150

                if (revealTop <= windowHeight - revealPoint) {
                    elementNeeds[index].classList.add('reveal-ex')
                } else {
                    elementNeeds[index].classList.remove('reveal-ex')
                }
            }



        }

        function pullLink(e) {
            product__categoryLink.forEach(element => {
                if (element.classList.contains('active')) {
                    element.classList.remove('active')
                }
            })
            let val = e.target
            val.classList.add('active')
        }

        let product__categoryLink = document.querySelectorAll('.pageProduct__category-link')
        product__categoryLink.forEach(element => {
            element.addEventListener('click', pullLink)
            console.log(element)
        })

    </script>

</body>

</html>