extends pageFormat.pug 

block product 
    #pageProduct
        .pageProduct__slider
            h2 We&apos;re here
        .grid.wide
            .row
                .col.l-3.md-12.sm-12
                    .pageProduct__category
                        div
                            i.fas.fa-stream(style='padding-right: var(--mp-1);')
                            |                             Category
                        a Commercial
                        a Blog
                        a Shop
                        a App
                        a System (w)
                .col.l-9.md-12.sm-12
                    .pageProduct__list
                        h1
                            | Our Design
                        .grid
                            .row
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                                .col.l-4.md-4.sm-10.sm-o-1
                                    .cardProduct
                                        .cardProduct__img
                                            img(src='../public/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                        .cardProduct__title
                                            | oceannn love
                                        .cardProduct__body
                                            h4 Price: 189$
                                            h5 Sold: 13
                    .pageProduct__pagination
                        a(href='#')
                            i.fas.fa-chevron-left
                        a(href='#') 1
                        a(href='#') 2
                        a(href='#') 3
                        a(href='#')
                            i.fas.fa-angle-right

