extends pageFormat.pug

block accountRegister
    #pageRegister
        .grid.wide.no-gutters(style='box-shadow: 3px 3px 8px rgb(173, 168, 168,.2);')
            .row
                .col.l-3
                    .pageRegister__title
                        h1
                            | REGISTER
                .col.l-9
                    .pageRegister__body
                        h2
                            | Let&apos;s join with us
                        p
                        .grid
                            form(action='#' method='post')
                                .row
                                    input#userFirstName.col.l-5.l-o-1(type='text' name='userFirstName' placeholder='First Name' maxlength='30')
                                    input#userFirstName.col.l-5(type='text' name='userLastName' placeholder='Last Name' maxlength='30')
                                    input#userNumber.col.l-5.l-o-1(type='text' name='userNumber' placeholder='User number' maxlength='10')
                                    input#userEmail.col.l-5(type='email' name='userEmail' maxlength='100' placeholder='Email')
                                    input#currentPassword.col.l-5.l-o-1(type='password' name='currentPassword' minlength='8' maxlength='30' placeholder='Password')
                                    input#confirmPassword.col.l-5(type='password' name='confirmPassword' minlength='8' maxlength='30' placeholder='Confirm Password')
                                input#termAgree(type='checkbox' name='termAgree')
                                | Agree with our term
                                input.col.l-12(type='submit' value='Sign Up')
