extends pageFormat.pug 

block about
    #pageAbout
        #aboutPage-slider
            br
            br
            .grid.wide.aboutPage-slider__bg
                .row
                    .col.l-7.md-7.sm-10.sm-1
                        .aboutPage-slider__body
                            .aboutPage-slider__body-title.A
                                .text-flow
                                    | About Us
                                ul.text-flow
                                    li Team Dev
                                    li Team Desgin
                                    li Team App
                            .aboutPage-slider__body-title.B
                                .text-flow
                                    | About Us
                    .col.l-2.l-o-2.md-3.md-o-1.sm-0(style='\
                    color: white;\
                    margin-top: 8rem;\
                    font-family: var(--fontFamilyT);\
                    font-size: var(--fontSize__h3);\
                    ')
                        | Hi there, come with me and play now
                        div
                        br
                        br
                        br
                        br
                        br
                        br
            br
            br
            .grid.wide
                .row
                    .col.l-4
                        .aboutPage-slider__content
                            h2(style='padding: var(--mp-1) 0;') Dev experience
                            div(style="font-family: 'Courier New', Courier, monospace;\
                            font-size: var(--fontSize__h3);")
                            | For example, when designing a brochure or book,
                            | a designer will insert Lorem ipsum text if
                            | the real text is not available. The Lorem
                            | ipsum text looks real enough that the brochure
                            | or book looks complete. The book or brochure
                            | can be shown to the client for approval.
                            br
                            div(style="font-family: 'Courier New', Courier, monospace;\
                            font-size: var(--fontSize__h3);")
                            | The important factor when using Lorem ipsum
                            | text is that the text looks realistic otherwise
                            | the brochure or book will not look very good.
                            | Lorem Ipsum is dummy text which has no meaning
                            | however looks very similar to real text.
                    .col.l-8
                        .grid
                            .row
                                .col.l-12
                                    .aboutPage-slider__content
                                        h2(style='padding: var(--mp-1) 0;') Design Art
                                        div(style="font-family: 'Courier New', Courier, monospace;\
                                        font-size: var(--fontSize__h3);")
                                            | The important factor when using Lorem ipsum
                                            | text is that the text looks realistic otherwise
                                            | the brochure or book will not look very good.
                                            | Lorem Ipsum is dummy text which has no meaning
                                            | however looks very similar to real text.
                                .col.l-12(style='margin-top: var(--mp-1);')
                                    .aboutPage-slider__content
                                        h2(style='padding: var(--mp-1) 0;') Connect with App
                                        div(style="font-family: 'Courier New', Courier, monospace;\
                                        font-size: var(--fontSize__h3);")
                                            | For example, when designing a brochure or
                                            | book,
                                            | a designer will insert Lorem ipsum text if
                                            | the real text is not available. The Lorem
                                            | ipsum text looks real enough that the brochure
                                            | or book looks complete. The book or brochure
                                            | can be shown to the client for approval.
                                    br
